.container{
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px;
}

/* Header  */

header{
  border-bottom:1px solid gray;
  padding-left:20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

header .left-content {
  margin-right: auto;
}

header .auth {
  margin-right: 10px;
}

header .dropdown-menu {
  margin-right: 10px;
  display: none;
}

header li ul { 
  background-color: white;
  height:auto; 
  padding:5px; 
  margin:0px; 
  border:0px;
  position: absolute;
  z-index:200; 
  border: 1px solid black;
}

/* content  */

.content{
  display:flex;
}

.content nav{
  border-right:1px solid gray;
}

nav {
  flex-basis: auto;
  flex-shrink: 0;
}

section {
  display:flex;
  margin-bottom: 20px;
}

section .sidemenu {
  min-width: 140px;
}

section nav {
  flex-shrink: 0;
  border-right:1px solid gray;
}

nav ul {
  position: fixed;
  padding-left: 50px;
  padding-right: 50px;
}

section main {
  width: 100%;
  text-align: justify;
  padding-left:30px;
  padding-right:30px;
}

main .working {
  position: relative;
  display: inline-block;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.working .working-icon {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.columns {
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6;
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0;
}

.columns figure{
  display: inline-block;
  margin: 0 0 1em;
  margin-bottom: 0;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.columns figure img{
  width: 100% !important;
  height: auto !important;
  -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);;

}
.columns figcaption{
  position: fixed;
  display: none;
  width: 500px;
  height: auto;
  top: 70px;
  left: 50%;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  color: black;
  z-index: 100;
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);

}

/* Footer  */

footer {
  border-top:1px solid gray;
  padding:20px;
  text-align: center;
}

/*  */

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: grey; text-decoration: none;}

li {
  list-style: none;
}

.brand-logo {

  font-size: 2rem;
  font-weight: bold;
  text-align: center;

}

/* media */

@media (max-width:600px) {

  body {
    justify-content: flex-start;
    margin-top: 0px;
    padding: 0px;
  }

  .container{
    padding: 20px;
  }

  header {
    position: fixed;
    top: 0px;
    padding: 0;
    width: 304px;
    background-color: white;
    z-index: 100;
  }

  header .auth {
    display: none;
  }

  header .dropdown-menu {
    display: block;
  }

  header .dropdown-menu ul {
    margin-top: 10px;
    margin-left: -45px;
  }
  
  section {
    margin-top: 70px;
  }

  nav {
    display:none;
  }

  section main {
    padding: 0px;
  }

  .columns{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50px;
    -moz-column-width: 50px;
    column-width: 50px;
  }

  .columns figure{
    padding: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .columns figure figcaption{
    top: 70px;
    width: 300px;
  }
}