.container{
  display: flex;
  flex-direction: column;
  padding: 50px;
}

/* Header  */

header{
  border-bottom:1px solid gray;
  padding-left:20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

header .left-content {
  margin-right: auto;
}

header .auth {
  margin-right: 10px;
}

header .dropdown-menu {
  margin-right: 10px;
  display: none;
}

header li ul { 
  background-color: white;
  height:auto; 
  padding:5px; 
  margin:0px; 
  border:0px;
  position: absolute;
  z-index:200; 
  border: 1px solid black;
}

/* content  */

.content{
  display:flex;
}

.content nav{
  border-right:1px solid gray;
}

nav {
  flex-basis: auto;
  flex-shrink: 0;
}

section {
  display:flex;
  margin-bottom: 20px;
}

section nav {
  flex-shrink: 0;
  border-right:1px solid gray;
}

nav ul {
  padding-left: 50px;
  padding-right: 50px;
}

section main {
  width: 100%;
  text-align: justify;
  padding-left:30px;
  padding-right:30px;
}

main .working {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.working .working-icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.columns{
  column-count: 4;
  column-width: 200px;
  column-gap: 1rem;
}

.columns figure{
  display: inline-block;
  border:1px solid rgba(0,0,0,0.2);
  margin: 0 0 1em;
  margin-bottom: 15px;
  padding:10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);;
}
.columns figure img{
  width:100% !important;
  height: auto !important;
}
.columns figure figcaption{
  border-top:1px solid rgba(0,0,0,0.2);
  padding:10px;
  margin-top:11px;
}

/* Footer  */

footer {
  border-top:1px solid gray;
  padding:20px;
  text-align: center;
}

/*  */

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: grey; text-decoration: none;}

li {
  list-style: none;
}

.brand-logo {

  font-size: 2rem;
  font-weight: bold;
  text-align: center;

}

/* media */

@media (max-width:600px) {

  body {
    justify-content: flex-start;
    margin-top: 0px;
    padding: 0px;
  }

  .container{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  nav {
    display:none;
  }

  header .auth {
    display: none;
  }

  header .dropdown-menu {
    display: block;
  }

  header .dropdown-menu ul {
    margin-top: 10px;
    margin-left: -45px;
  }

  section main {
    padding: 0px;
  }

  .columns{
    column-count: 2;
    column-width: 50px;
    column-gap: 1rem;
  }
  .columns figure figcaption{
    display: none;
  }

}